<div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="prev()">Prev day</button>
      </span>
    <input type="date" id="date" ng-model="dateStart"  value="{{dateStart}}" class="form-control" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="next()">Next day</button>
          </span>
    <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="today()">today</button>
          </span>
</div>